<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
  <meta name="description" content="The Sylvan Web Application is your key to a successful and fun learning experiance! Once you are logged in, all your lessons are avaliable for you right at your fingertips!">
  
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/site.webmanifest">
    <meta property="og:title" content="Sylvan Web Application">
    <meta property="og:description" content="The Sylvan web application is your key to a successful and fun learning experiance! Once you are logged in, all your lessons are avaliable for you right at your fingertips!">
    <meta property="og:image" content="static/icons/ban.png">
    <meta property="og:url" content="https://sylvan.herokuapp.com">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    {% endblock %}

    <title>{%block title%}{%endblock%}</title>
    {% endblock %}
</head>

<body>
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>
<footer class="page-footer font-small text-light">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/">Angelo Nelson Web Solutions</a>
    </div>
</footer>

</html>