{%extends "header.html"%}
{% from 'bootstrap/form.html' import render_form_row %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{%block title%}{{name}}'s {{programname}}{%endblock%}

{%block content%}


<body>
    <div class="container-fluid fadein">
        <div class="row">
            <div class="col my-5">
                <div class="card mx-auto mb-5 ">
                    <div class="card-body shadow-lg">
                        <h1 class="card-title">Welcome {{name}} to your {{programname}} Program</h1>
                        <p class="card-text">Select your lesson from below and get started!</p>
                       
                    </div>
                </div>
                <div class="list-group mb-5 ">
                    {%for f in files%}
                  <a href="{{routeurl + "/" +f}}" class="list-group-item list-group-item-action">
                    {{f.replace(".pdf","")}}
                  </a>
                  {%endfor%}
                </div>
                <form action="/logout">
                    {{render_form_row([form.logout], button_style='outline-primary')}}
                </form>
            </div>
        </div>
    </div>
</body>
{%endblock%}